/* global */
*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: 'sans-serif';
}

a{
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size: 16px;
    font-weight: bolder;
}

/* index.html */
.container{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

.forum-list{
    margin-top: 20px;
}

.forum-title{
    background-color: #EEEEEE;
    padding: 5px;
    border-radius: 5px;
}

.forum-description *{
    margin-block: 0;
}

.forum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.forum-column{
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    background-color: #EEEEEE;
}

.forum-divider{
    display:none;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.forum-icon i{
    font-size: 30px;
}

/* For the smartphones */
@media screen and (max-width: 460px){
    .container{
        margin: 10px;
        padding:10px;
    }

    .forum-row{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }

    .forum-column{
        padding: 10px;
        margin: 4px;
        border-radius: 5px;
        background-color: #EEEEEE;
    }

    .forum-stats{
        font-size: 12px;
    }

    .forum-divider{
        display: block;
        height: 1px;
        background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(0, 0, 0, 0), rgba(190, 190, 190, 0));
    }
}

/* For the tablets */
@media screen and (min-width: 460px) and (max-width: 1024px){
    .container{
        margin: 15px;
        padding:15px;
    }

    .forum-row{
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .forum-icon i{
        font-size: 30px;
    }

    html{
        font-size: 16px;
    }

    h1{
        font-size: 18px;
        font-size: 18px;
    }
}

/* Navbar */
header{
    margin-inline: 10px;
}

.navbar{
    display: flex;
    align-items: center;
}

.navigation{
    background-color: #000000;
    padding: 5px;
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    max-height: 60px;
    margin-right: 10px;
}

.navbar-list{
    list-style-type: none;
    overflow: hidden;
}

.navbar-item a{
    float: right;
    display: block;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 3px;
    color: #FFFFFF;
}

.navbar-item a:hover{
    background-color: #504F4F;
}

.brand{
    float: left;
    padding-left: 0px;
}

/* Navbar for the smartphones */
@media screen and (max-width: 460px){
    .navigation{
        background-color: #000000;
        padding: 5px;
        width: 100%;
        display: inline-flex;
        border-radius: 5px;
        max-height: 150px;
        margin: 15px;
        float: left;
    }
}

/* Search box */
.search-box{
    border: solid 1px;
    margin-top: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 3px #000000;
    margin-right: 10px;
}

.search-box select{
    padding: 10px;
    margin-right:10px;
}

.search-box input{
    padding: 10px;
    margin-right:10px;
}

.search-box button{
    padding: 10px;
    background-color: #FFFFFF;
    color: #000000;
}

.search-box button:hover{
    color: #000000;
    box-shadow: 1px 2px 3px #000000;
}

/* Search box for smartphones */
@media screen and (max-width: 460px){
    .search-box{
        border: solid 1px;
        margin-top: 20px;
        padding: 40px;
        display: block;
        justify-content: center;
        box-shadow: 1px 2px 3px #000000;
        margin: 15px;
    }

    .search-box input , .search-box button, .search-box select {
        min-width: 200px;
        margin-top: 5px;
    }
}

/* Forum app stats */
.forum-app-stats{
    padding: 20px;
    background-color: #EEEEEE;
    margin-top: 20px;
    margin-left: 11px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.forum-app-stats-title{
    font-size: 20px;
    font-weight: bold;
}

/* posts.html */
.table-heading{
    display: flex;
}

.table-heading div{
    padding: 5px;
    margin: 2px;
    background-color: #EEEEEE;
    font-weight: bold;
}

.table-heading .status{
    flex: 5%;
}

.table-heading .subjects{
    flex: 70%;
}

.table-heading .replies{
    flex: 10%;
}

.table-heading .last-reply{
    flex: 15%;
}

.table-row{
    display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 5px;
    margin: 2px;
    background-color: #EEEEEE;
}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 70%;
}

.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 15%;
}

.pagination{
    padding: 20px;
    font-size: 15px;
}

.pagination a{
    color: #000000;
    margin-inline: 1px;
    padding: 5px 10px;
    border: solid 0.5px black;
}

.pagination a:hover{
    opacity: 0.5;
}

.forum-navigation{
    margin-block: 20px;
    font-weight: bold;
    font-size: 24px;
}

.forum-navigation a{
    color: #000000;
}

.forum-navigation a:hover{
    opacity: 0.5;
}

.status-note{
    background-color: #EEEEEE;
    padding: 20px;
    display: block;
}

.status-note span{
    font-size: 15px;
    margin-block: 5px;
}

/* post_detail.html */
.post-container-heading{
    display: flex;
    background-color: #EEEEEE;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.author{
    flex: 20%;
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    background-color: #EEEEEE;
    padding: 10px;
    margin-top: 5px;
}

.body .author .username{
    font-size: 20px;
}

.body .author img{
    max-width:50px;
    max-height: 80px;
}

.body .content .comment button{
    border:none;
    padding: 10px;
    font-weight: bolder;
    box-shadow: 4px 6px #FFFFFF;
    cursor: pointer;
    float: right;
}

.comment-area{
    margin-top: 50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.comment-area input:hover{
    opacity: 0.7;
}

.hide{
    display:none;
}

.comments-container{
    margin-top: 50px;
}

.comments-container-heading{
    display: flex;
    background-color: #EEEEEE;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.body .content .reply button{
    border:none;
    padding: 10px;
    font-weight: bolder;
    box-shadow: 4px 6px #FFFFFF;
    cursor: pointer;
    float: right;
}

.reply-area{
    margin-top: 50px;
}

.reply-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.reply-area input{
    float: right;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.reply-area input:hover{
    opacity: 0.7;
}
