{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="forum-title">
            <h1>General information</h1>
        </div>

        <div class="forum-list">

            {% for forum in forums %}
            <div class="forum-row">
                <div class="forum-icon forum-column center">
                    <i class="fa fa-car"></i>
                </div>

                <div class="forum-description forum-column">
                    <h1><a href="{{ forum.get_url }}">{{ forum.title }}</a></h1>
                    <p>{{ forum.description }}</p>
                </div>

                <div class="forum-stats forum-column center">
                    <span>{{ forum.number_of_posts }} posts</span>
                </div>

                <div class="forum-info forum-column">
                    <b><a href="{{ forum.last_post.get_url }}">Last post</a></b>
                    by <a href="#">{{ forum.last_post.author.full_name }}</a>
                    <br/>
                    on <small>{{ forum.last_post.timestamp|date }}</small>
                </div>
            </div>
            {% endfor %}

            <hr class="forum-divider"/>

        </div>
    </div>

    <!-- Forum info -->
    <div class="forum-app-stats">
        <div class="forum-app-stats-title">
            Forum - Stats &nbsp; <i class="fa fa-bar-chart"></i>
        </div>
        <div>
            <span><u>{{ number_of_posts }}</u> Posts in <u>{{ number_of_forums }}</u> Forums by <u>{{ number_of_users }}</u> Members</span><br/>
            <span>Latest Post: <b><a href="{{ last_post.get_url }}">{{ last_post.title }}</a>
            </b> on {{ last_post.timestamp|date }} by <a href="">{{ last_post.author.full_name|title }}</a> </span>
        </div>
    </div>

{% endblock content %}