<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Online Forum
        </title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>

            <!-- Navbar -->
            <div class="navbar">
                <nav class="navigation">
                    <ul class="navbar-list">
                        <li class="navbar-item brand">
                            <a href="#">ForumApp</a>
                        </li>
                        <li class="navbar-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="navbar-item">
                            <a href="#">Forum</a>
                        </li>
                        <li class="navbar-item">
                            <a href="#">Detail</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Search box -->
            <div class="search-box">
                <select name="search-dropdown" id="search-dropdown">
                    <option value="all">All</option>
                    <option value="titles">Titles</option>
                    <option value="descriptions">Descriptions</option>
                </select>
                <input type="text" name="search-query" id="search-query" placeholder="Search">
                <button><i class="fa fa-search"></i></button>
            </div>

        </header>

        <div class="container">
            <div class="forum-title">
                <h1>General information</h1>
            </div>

            <div class="forum-list">
                <!-- Forum 1 begins-->
                <div class="forum-row">
                    <div class="forum-icon forum-column center">
                        <i class="fa fa-car"></i>
                    </div>

                    <div class="forum-description forum-column">
                        <h1><a href="">Forum Title</a></h1>
                        <p>Forum Description: Description for the forum</p>
                    </div>

                    <div class="forum-stats forum-column center">
                        <span>12 posts | 3 topics</span>
                    </div>

                    <div class="forum-info forum-column">
                        <b><a href="">Last post</a></b> by <a href="">User</a>
                        <br/>
                        on <small>31 Dec 2021</small>
                    </div>
                </div>
                <!-- Forum 1 ends-->

                <hr class="forum-divider"/>

                <!-- Forum 2 begins-->
                <div class="forum-row">
                    <div class="forum-icon forum-column center">
                        <i class="fa fa-car"></i>
                    </div>

                    <div class="forum-description forum-column">
                        <h1><a href="">Forum Title</a></h1>
                        <p>Forum Description: Description for the forum</p>
                    </div>

                    <div class="forum-stats forum-column center">
                        <span>12 posts | 3 topics</span>
                    </div>

                    <div class="forum-info forum-column">
                        <b><a href="">Last post</a></b> by <a href="">User</a>
                        <br/>
                        on <small>31 Dec 2021</small>
                    </div>
                </div>
                <!-- Forum 2 ends-->

                <hr class="forum-divider"/>

                <!-- Forum 3 begins-->
                <div class="forum-row">
                    <div class="forum-icon forum-column center">
                        <i class="fa fa-car"></i>
                    </div>

                    <div class="forum-description forum-column">
                        <h1><a href="">Forum Title</a></h1>
                        <p>Forum Description: Description for the forum</p>
                    </div>

                    <div class="forum-stats forum-column center">
                        <span>12 posts | 3 topics</span>
                    </div>

                    <div class="forum-info forum-column">
                        <b><a href="">Last post</a></b> by <a href="">User</a>
                        <br/>
                        on <small>31 Dec 2021</small>
                    </div>
                </div>
                <!-- Forum 3 ends-->

                <hr class="forum-divider"/>

                <!-- Forum 4 begins-->
                <div class="forum-row">
                    <div class="forum-icon forum-column center">
                        <i class="fa fa-car"></i>
                    </div>

                    <div class="forum-description forum-column">
                        <h1><a href="">Forum Title</a></h1>
                        <p>Forum Description: Description for the forum</p>
                    </div>

                    <div class="forum-stats forum-column center">
                        <span>12 posts | 3 topics</span>
                    </div>

                    <div class="forum-info forum-column">
                        <b><a href="">Last post</a></b> by <a href="">User</a>
                        <br/>
                        on <small>31 Dec 2021</small>
                    </div>
                </div>
                <!-- Forum 4 ends-->
            </div>
        </div>
        <script src="main.js"></script>
    </body>
</html>