{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            {% if forums %}
                <h2>All Forums</h2>
                <div class="panel panel-default">
                    <div class="panel-body">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Topic</th>
                                    <th>Posts</th>
                                    <th>Last post</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for forum in forums %}
                                <tr>
                                    <td>
                                        <h4><a href="{{ forum.get_url }}">{{ forum.title }}</a></h4>
                                        <p>{{ forum.description }}</p>
                                    </td>

                                    <td>
                                        <span>{{ forum.number_of_posts }} posts</span>
                                    </td>

                                    <td>
                                        <a href="{{ forum.last_post.get_url }}">Last post</a>
                                        by {{ forum.last_post.author.full_name }}
                                        <br/>
                                        on {{ forum.last_post.timestamp }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            {% else %}
                <h2>No forums found</h2>
            {% endif %}
        </div>


    <!-- Forum info -->
    <div class="row">
        <span style="font-size: 25px;">
            <i class="fa fa-bar-chart"></i>
            Forum Statistics
        </span>

        <div>
            <span>
                <b>{{ number_of_posts }}</b> Posts in
                <b>{{ number_of_forums }}</b> Forums by
                <b>{{ number_of_users }}</b> Members
            </span>

            <br/>

            <span>
                Latest Post:
                <b>
                    <a href="{{ last_post.get_url }}">
                        {{ last_post.title }}
                    </a>
                </b>
                on {{ last_post.timestamp|date }} by {{ last_post.author.full_name|title }}
            </span>
        </div>
    </div>
</div>
{% endblock content %}