{% extends 'base.html' %}
{% load hitcount_tags %}
{% block content %}

    <div class="container">
        <!-- Navigation starts -->
        <div class="row">
            <div class="forum-navigation">
            <span>
                <h4>
                    <a href="{% url 'index' %}">Let'sDiscuss</a> >>
                    <a href="{{ forum.get_url }}">{{ forum.title }}</a>
                </h4>
            </span>
            </div>
        </div>
        <!-- Navigation ends -->

        <!-- Posts-table begins -->
        <div class="row">
            {% if posts %}
                <h2>All Posts</h2>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Subject</th>
                                    <th>Comments/Views</th>
                                    <th>Last comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for post in posts %}
                                    <tr>
                                        <td class="post-status-icon">
                                           {% if post.closed == True %}
                                                <div class="status-icon"><i class="fa fa-lock"></i></div>
                                            {% elif post.number_of_comments <= 5 %}
                                                <div class="status-icon"><i class="fa fa-book"></i></div>
                                            {% elif post.number_of_comments <= 10 %}
                                                <div class="status-icon"><i class="fa fa-rocket"></i></div>
                                            {% else %}
                                                <div class="status-icon"><i class="fa fa-fire"></i></div>
                                            {% endif %}
                                        </td>

                                        <td>
                                            <a href="{{ post.get_url }}">{{ post.title }}<br></a>
                                            Started by {{ post.author.full_name|title }}
                                        </td>

                                        <td>
                                            {{ post.number_of_comments }} comments <br/> {% get_hit_count for post %} views
                                        </td>

                                        <td>
                                            {% if post.number_of_comments > 0 %}
                                                {{ post.last_comment.timestamp }}
                                                <br/>
                                                By {{ post.last_comment.user.full_name|title }}
                                            {% else %}
                                                <p>None</p>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <h2>No posts found</h2>
            {% endif %}
        </div>
        <!-- Posts-table ends -->

        <!--Pagination starts-->
        <div class="row">
            <center>
            <nav>
                <ul class="pagination">
                    {% for num_page in posts.paginator.page_range %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num_page }}">{{ num_page }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </center>
        </div>
        <!--pagination ends-->

        <!-- Post status note -->
        <div class="row" style="font-size: 16px;">
            <h3>Post Status</h3>
            <span>
                <i class="fa fa-rocket"></i> &nbsp;High engagement topic
            </span>
            <br/>

            <span>
                <i class="fa fa-fire"></i> &nbsp;Medium engagement topic
            </span>
            <br/>

            <span>
                <i class="fa fa-book"></i> &nbsp;Low Engagement topic
            </span>
            <br/>

            <span>
                <i class="fa fa-lock"></i> &nbsp;Closed topic
            </span>
            <br/>
        </div>
    </div>
{% endblock content %}