{% extends 'base.html' %}
{% load hitcount_tags %}
{% block content %}

    <div class="container">
        <!-- Navigation -->
        <div class="forum-navigation">
            <span>
                <a href="{% url 'index' %}">ForumApp</a> >>
                <a href="{{ forum.get_url }}">{{ forum.title }}</a>
            </span>
        </div>

        <div class="posts-table">
            <div class="table-heading">
                <div class="status">Status</div>
                <div class="subjects">Subjects</div>
                <div class="replies">Comments/<br/>Views</div>
                <div class="last-reply">Last Comment</div>
            </div>

            <div class="table-body">
                {% for post in posts %}
                <div class="table-row">

                    {% if post.closed == True %}
                        <div class="status"><i class="fa fa-lock"></i></div>
                    {% elif post.number_of_comments == 0 %}
                        <div class="status"><i class="fa fa-frown-o"></i></div>
                    {% elif post.number_of_comments > 0 and post.number_of_comments <= 2 %}
                        <div class="status"><i class="fa fa-book"></i></div>
                    {% elif post.number_of_comments > 2 and post.number_of_comments <= 5 %}
                        <div class="status"><i class="fa fa-rocket"></i></div>
                    {% elif post.number_of_comments >= 5 %}
                        <div class="status"><i class="fa fa-fire"></i></div>
                    {% endif %}

                    <div class="subjects">
                        <a href="{{ post.get_url }}">{{ post.title }}<br>
                        <span>Started by <b><a href="#">{{ post.author.full_name|title }}</a></b></span>
                    </div>
                    <div class="replies">
                        {{ post.number_of_comments }} comments <br/> {% get_hit_count for post %} views
                    </div>
                    <div class="last-reply">
                        {{ post.last_comment.timestamp|date }}
                        <br/>
                        By <b><a href="#">{{ post.last_comment.user.full_name|title }}</a></b>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!--Pagination starts-->
    <div class="pagination">
        Pages: {% for num_page in posts.paginator.page_range %} <a href="?page={{num_page}}">{{num_page}}</a> {% endfor %}
    </div>
    <!--pagination ends-->

    <!-- Status note -->
    <div class="status-note">
            <span>
                <i class="fa fa-rocket"></i> &nbsp;High engagement topic
            </span>
            <br/>

            <span>
                <i class="fa fa-fire"></i> &nbsp;Popular topic
            </span>
            <br/>

            <span>
                <i class="fa fa-book"></i> &nbsp;Low Engagement topic
            </span>
            <br/>

            <span>
                <i class="fa fa-frown-o"></i> &nbsp;0 Engagement topic
            </span>
            <br/>

            <span>
                <i class="fa fa-lock"></i> &nbsp;Closed topic
            </span>
            <br/>
    </div>

{% endblock content %}