<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Online Forum
        </title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>

            <!-- Navbar -->
            <div class="navbar">
                <nav class="navigation">
                    <ul class="navbar-list">
                        <li class="navbar-item brand">
                            <a href="#">ForumApp</a>
                        </li>
                        <li class="navbar-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="navbar-item">
                            <a href="#">Forum</a>
                        </li>
                        <li class="navbar-item">
                            <a href="#">Detail</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Search box -->
            <div class="search-box">
                <select name="search-dropdown" id="search-dropdown">
                    <option value="all">All</option>
                    <option value="titles">Titles</option>
                    <option value="descriptions">Descriptions</option>
                </select>
                <input type="text" name="search-query" id="search-query" placeholder="Search">
                <button><i class="fa fa-search"></i></button>
            </div>

        </header>

        <div class="container">
            <!-- Navigation -->
            <div class="forum-navigation">
                <span>
                    <a href="#">ForumApp - Forums</a> >>
                    <a href="#">Topic</a>
                </span>
            </div>

            <div class="posts-table">
                <div class="table-heading">
                    <div class="status">Status</div>
                    <div class="subjects">Subjects</div>
                    <div class="replies">Replies/Views</div>
                    <div class="last-reply">Last reply</div>
                </div>

                <div class="table-body">
                    <!-- Post 1 begins -->
                    <div class="table-row">
                        <div class="status"><i class="fa fa-fire"></i></div>
                        <div class="subjects">
                            Which is better for web development Django or Node.js?
                            <br/>
                            <span>Started by <b><a href="#">User</a></b></span>
                        </div>
                        <div class="replies">
                            5 replies <br/> 125 views
                        </div>
                        <div class="last-reply">
                            Nov 1 2021
                            <br/>
                            By <b><a href="#">User</a></b>
                        </div>
                    </div>
                    <!-- Post 1 ends-->

                    <!-- Post 2 begins -->
                    <div class="table-row">
                        <div class="status"><i class="fa fa-frown-o"></i></div>
                        <div class="subjects">
                            Which is better for web development Django or Node.js?
                            <br/>
                            <span>Started by <b><a href="#">User</a></b></span>
                        </div>
                        <div class="replies">
                            5 replies <br/> 125 views
                        </div>
                        <div class="last-reply">
                            Nov 1 2021
                            <br/>
                            By <b><a href="#">User</a></b>
                        </div>
                    </div>
                    <!-- Post 2 ends-->

                    <!-- Post 3 begins -->
                    <div class="table-row">
                        <div class="status"><i class="fa fa-rocket"></i></div>
                        <div class="subjects">
                            Which is better for web development Django or Node.js?
                            <br/>
                            <span>Started by <b><a href="#">User</a></b></span>
                        </div>
                        <div class="replies">
                            5 replies <br/> 125 views
                        </div>
                        <div class="last-reply">
                            Nov 1 2021
                            <br/>
                            By <b><a href="#">User</a></b>
                        </div>
                    </div>
                    <!-- Post 3 ends-->

                    <!-- Post 4 begins -->
                    <div class="table-row">
                        <div class="status"><i class="fa fa-book"></i></div>
                        <div class="subjects">
                            Which is better for web development Django or Node.js?
                            <br/>
                            <span>Started by <b><a href="#">User</a></b></span>
                        </div>
                        <div class="replies">
                            5 replies <br/> 125 views
                        </div>
                        <div class="last-reply">
                            Nov 1 2021
                            <br/>
                            By <b><a href="#">User</a></b>
                        </div>
                    </div>
                    <!-- Post 4 ends-->
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div class="pagination">
            <pagination>
                Pages:
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
            </pagination>
        </div>

        <!-- Status note -->
        <div class="status-note">
            <span>
                <i class="fa fa-rocket"></i> &nbsp;High engagement topic
            </span>
            <br/>

            <span>
                <i class="fa fa-fire"></i> &nbsp;Popular topic
            </span>
            <br/>

            <span>
                <i class="fa fa-book"></i> &nbsp;Low Engagement topic
            </span>
            <br/>

            <span>
                <i class="fa fa-frown-o"></i> &nbsp;0 Engagement topic
            </span>
            <br/>

            <span>
                <i class="fa fa-lock"></i> &nbsp;Closed topic
            </span>
            <br/>
        </div>

        <script src="main.js"></script>
    </body>
</html>