{% extends 'base.html' %}
{% load hitcount_tags %}
{% block content %}

    <div class="container">

        <!-- Navigation -->
        <div class="forum-navigation">
            <span>
                <a href="#">ForumApp - Forums</a> >>
                <a href="#">Topic</a> >>
                <a href="{{ post.get_url }}">{{ post.title }}</a>
            </span>
        </div>

        <!-- Post detail -->
        <div class="post-container">
            <div class="post-container-heading">
                <div class="author">Author</div>
                <div class="content">Topic: {{ post.title }} (Read {% get_hit_count for post %} times)</div>
            </div>

            <div class="body">
                <div class="author">
                    <div class="username"><a href="#">{{ post.author.full_name|title }}</a> </div>
                    <div>Role</div>
                    <img src="{{ post.author.profile_pic.url }}" alt="Loading...">
                    <div>Posts: <u>45</u></div>
                    <div>Points:<u>5123</u></div>
                </div>

                <div class="content">
                    {{ post.content|safe }}
                    <div class="comment">
                        <button onclick="showCommentArea()">Comment</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Comment area -->
        <div class="comment-area hide" id="comment-area">
            <textarea name="comment-input" id="comment-input" placeholder="Comment here"></textarea>
            <input type="submit" value="Submit">
        </div>

        <!-- Show comments -->
        <div class="comments-container">
            <div class="comments-container-heading">
                <div class="author">Author</div>
                <div class="content">Comments</div>
            </div>

            {% for comment in post.comments.all %}
            <div class="body">
                <div class="author">
                    <div class="username"><a href="#">{{ comment.user.full_name|title}}</a> </div>
                    <div>Role</div>
                    <img src="{{ comment.user.profile_pic.url }}" alt="">
                    <div>Posts: <u>{{ comment.user.number_of_posts }}</u></div>
                    <div>Points:<u>{{ comment.user.points }}</u></div>
                </div>

                <div class="content">
                    {{ comment.content }}
                    <div class="reply">
                        <button onclick="showCommentReplyArea()">Reply</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Reply area -->
        <div class="reply-area hide" id="reply-area">
            <textarea name="reply-inout" id="" placeholder="Reply here"></textarea>
            <input type="submit" value="Submit">
        </div>
        {% endfor %}
    </div>

{% endblock content %}
