{% extends 'base.html' %}
{% load hitcount_tags %}
{% block content %}

    <div class="container">

        <div class="forum-navigation">
            <span>
                Search: {{ search_query }} -> {{ search_result|length }} result(s) found
            </span>
        </div>

        <div class="posts-table">
            <div class="table-heading">
                <div class="status">Status</div>
                <div class="subjects">Subjects</div>
                <div class="replies">Comments/<br/>Views</div>
                <div class="last-reply">Last Comment</div>
            </div>

            <div class="table-body">
                {% for post in search_result %}
                <div class="table-row">
                    <div class="status"><i class="fa fa-fire"></i></div>
                    <div class="subjects">
                        <a href="{{ post.get_url }}">{{ post.title }}<br>
                        <span>Started by <b><a href="#">{{ post.author.full_name|title }}</a></b></span>
                    </div>
                    <div class="replies">
                        {{ post.number_of_comments }} comments <br/> {% get_hit_count for post %} views
                    </div>
                    <div class="last-reply">
                        {{ post.last_comment.timestamp|date }}
                        <br/>
                        By <b><a href="#">{{ post.last_comment.user.full_name|title }}</a></b>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}