{% extends 'base.html' %}
{% load hitcount_tags %}
{% block content %}

    <div class="container">
        <!-- Navigation starts -->
        <div class="row">
            <div class="forum-navigation">
            <span>
                <h4>
                    Search: {{ search_query }} -> {{ search_result|length }} result(s) found
                </h4>
            </span>
            </div>
        </div>
        <!-- Navigation ends -->

        <!-- Posts-table begins -->
        <div class="row">
            {% if search_result %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Subject</th>
                                    <th>Comments/Views</th>
                                    <th>Last comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for post in search_result %}
                                    <tr>
                                        <td class="post-status-icon">
                                           {% if post.closed == True %}
                                                <div class="status"><i class="fa fa-lock"></i></div>
                                            {% elif post.number_of_comments == 0 %}
                                                <div class="status"><i class="fa fa-frown-o"></i></div>
                                            {% elif post.number_of_comments > 0 and post.number_of_comments <= 2 %}
                                                <div class="status"><i class="fa fa-book"></i></div>
                                            {% elif post.number_of_comments > 2 and post.number_of_comments <= 5 %}
                                                <div class="status"><i class="fa fa-rocket"></i></div>
                                            {% elif post.number_of_comments >= 5 %}
                                                <div class="status"><i class="fa fa-fire"></i></div>
                                            {% endif %}
                                        </td>

                                        <td>
                                            <a href="{{ post.get_url }}">{{ post.title }}<br></a>
                                            Started by {{ post.author.full_name|title }}
                                        </td>

                                        <td>
                                            {{ post.number_of_comments }} comments <br/> {% get_hit_count for post %} views
                                        </td>

                                        <td>
                                            {{ post.last_comment.timestamp|date }}
                                            <br/>
                                            By {{ post.last_comment.user.full_name|title }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <h2>No posts found</h2>
            {% endif %}
        </div>
        <!-- Posts-table ends -->

        <!-- Post status note -->
        <div class="row" style="font-size: 16px;">
            <h3>Post Status</h3>
            <span>
                <i class="fa fa-rocket"></i> &nbsp;High engagement topic
            </span>
            <br/>

            <span>
                <i class="fa fa-fire"></i> &nbsp;Popular topic
            </span>
            <br/>

            <span>
                <i class="fa fa-book"></i> &nbsp;Low Engagement topic
            </span>
            <br/>

            <span>
                <i class="fa fa-frown-o"></i> &nbsp;0 Engagement topic
            </span>
            <br/>

            <span>
                <i class="fa fa-lock"></i> &nbsp;Closed topic
            </span>
            <br/>
        </div>
    </div>
{% endblock content %}